<a href="/better_wishlist/?add_to_wishlist"
  role="button"
  aria-label="Add To Wishlist"
  class="add_to_wishlist_button button"
  data-product-id="{{ product_id }}"
  data-wishlist-action="add">
  Add To Wishlist
</a>
