/* p.product.woocommerce.add_to_cart_inline.better-wishlist-addto-cart-button
	.add_to_cart_button
	+ a {
	display: block;
	text-align: center;
	margin: 0px !important;
	max-width: 95%;
} */

/* animation slide-bottom */
@-webkit-keyframes slide-bottom {
	0% {

		opacity: 0;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(25px);
		transform: translateY(25px);
	}
}
@keyframes slide-bottom {
	0% {
		opacity: 0;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(25px);
		transform: translateY(25px);
	}
}

/* notification */
.better-wishlist-notification {
	position: fixed;
	top: 0;
	right: 50px;
	z-index: 999999999;
	padding: 8px 20px;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	transition: ease opacity 500ms;
	animation: slide-bottom 0.5s 100ms both;
}
.better-wishlist-notification.success {
	background-color: #00a65a;
	color: #fff;
}
.better-wishlist-notification.error {
	background-color: #dd4b39;
	color: #fff;
}
.better-wishlist-notification p {
	margin-bottom: 0;
}

/* Wishlist Table Css */
.better-wishlist-page-wrap table {
	border: 0;
}
.better-wishlist-page-wrap .wishlist_table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	margin: 4rem 0;
	max-width: 100%;
	overflow: hidden;
	width: 100%;
	line-height: inherit;
	padding: 0;
	text-align: inherit;
	letter-spacing: normal;
}
.better-wishlist-page-wrap table tbody,
.better-wishlist-page-wrap table td,
.better-wishlist-page-wrap table th {
	border: 0;
}
.better-wishlist-page-wrap table *,
hr {
	border-color: #dcd7ca;
}

.better-wishlist-page-wrap table thead {
	vertical-align: bottom;
	white-space: nowrap;
}

.better-wishlist-page-wrap table tr {
	border: none;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	text-align: inherit;
}

.better-wishlist-page-wrap table th {
	word-break: normal;
	font-size: inherit;
	font-weight: 700;
	line-height: 1.4;
	margin: 0;
	overflow: visible;
	padding: 0.5em;
	text-align: inherit;
}

.better-wishlist-page-wrap .product-remove {
	text-align: center;
}

.better-wishlist-page-wrap table tbody,
.better-wishlist-page-wrap table td,
.better-wishlist-page-wrap table th {
	border: 0;
}

.better-wishlist-page-wrap table tbody tr {
	font-size: 0.88889em;
	border-top: 1px solid #eee !important;
	border: none;
	line-height: inherit;
	margin: 0;
	padding: 0;
	text-align: inherit;
}

.better-wishlist-page-wrap table.wishlist_table td {
	word-break: normal;
	line-height: 1.4;
	margin: 0;
	overflow: visible;
	padding: 0.5em;
	font-size: inherit;
	text-align: inherit;
}

.better-wishlist-page-wrap .product-remove {
	text-align: center;
}

.better-wishlist-page-wrap .remove {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 18px;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	border-radius: 100%;
	text-decoration: none !important;
	background: #fff;
	color: #000;
}

.better-wishlist-page-wrap table td.product-thumbnail {
	padding: 1.4rem;
	width: 10%;
}

.better-wishlist-page-wrap table.wishlist_table img {
	height: auto;
	max-width: 120px;
	display: block;
}

.better-wishlist-page-wrap table td.product-name {
	padding-left: 1.5vw;
}

.better-wishlist-page-wrap .product-name {
	text-decoration: underline;
}
