/* p.product.woocommerce.add_to_cart_inline.betterwishlist-addto-cart-button
	.add_to_cart_button
	+ a {
	display: block;
	text-align: center;
	margin: 0px !important;
	max-width: 95%;
} */

/* animation fadeIn */
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes fadeOut {
	100% {
		opacity: 0;
	}
}
@keyframes fadeOut {
	100% {
		opacity: 0;
	}
}

/* notification */
.betterwishlist-notification-wrap {
	position: fixed;
	top: 0;
	right: 50px;
	z-index: 99999;
}
.betterwishlist-notification {
	display: table;
	float: right;
	clear: both;
	padding: 8px 20px;
	margin: 5px 0;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	transition: ease opacity 250ms;
	animation: fadeIn 250ms 100ms both, fadeOut 250ms 3000ms both;
}
.betterwishlist-notification.success {
	background-color: #00a65a;
	color: #fff;
}
.betterwishlist-notification.error {
	background-color: #dd4b39;
	color: #fff;
}
.betterwishlist-notification p {
	margin-bottom: 0;
}

/* Wishlist Table Css */
.betterwishlist-page-wrap table {
	border: 0;
}
.betterwishlist-page-wrap .wishlist_table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	margin: 4rem 0;
	max-width: 100%;
	overflow: hidden;
	width: 100%;
	line-height: inherit;
	padding: 0;
	text-align: inherit;
	letter-spacing: normal;
}
.betterwishlist-page-wrap table tbody,
.betterwishlist-page-wrap table td,
.betterwishlist-page-wrap table th {
	border: 0;
}
.betterwishlist-page-wrap table *,
hr {
	border-color: #dcd7ca;
}

.betterwishlist-page-wrap table thead {
	vertical-align: bottom;
	white-space: nowrap;
}

.betterwishlist-page-wrap table tr {
	border: none;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	text-align: inherit;
}

.betterwishlist-page-wrap table th {
	word-break: normal;
	font-size: inherit;
	font-weight: 700;
	line-height: 1.4;
	margin: 0;
	overflow: visible;
	padding: 0.5em;
	text-align: inherit;
}

.betterwishlist-page-wrap .product-remove {
	text-align: center;
}

.betterwishlist-page-wrap table tbody,
.betterwishlist-page-wrap table td,
.betterwishlist-page-wrap table th {
	border: 0;
}

.betterwishlist-page-wrap table tbody tr {
	font-size: 0.88889em;
	border-top: 1px solid #eee !important;
	border: none;
	line-height: inherit;
	margin: 0;
	padding: 0;
	text-align: inherit;
}

.betterwishlist-page-wrap table.wishlist_table td {
	word-break: normal;
	line-height: 1.4;
	margin: 0;
	overflow: visible;
	padding: 0.5em;
	font-size: inherit;
	text-align: inherit;
}

.betterwishlist-page-wrap .product-remove {
	text-align: center;
}

.betterwishlist-page-wrap .remove {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 18px;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	border-radius: 100%;
	text-decoration: none !important;
	background: #fff;
	color: #000;
}

.betterwishlist-page-wrap table td.product-thumbnail {
	padding: 1.4rem;
	width: 10%;
}

.betterwishlist-page-wrap table.wishlist_table img {
	height: auto;
	max-width: 120px;
	display: block;
}

.betterwishlist-page-wrap table td.product-name {
	padding-left: 1.5vw;
}

.betterwishlist-page-wrap .product-name {
	text-decoration: underline;
}
