p.product.woocommerce.add_to_cart_inline.better-wishlist-addto-cart-button .add_to_cart_button + a {
    display: block;
    text-align: center;
    margin: 0px !important;
    max-width: 95%;
}


/* Css For Popup */

/* Popup box BEGIN */

.added-to-wishlist-dialog-box,
.added-to-cart-dialog-box,
.all_product_added-to-cart-dialog-box,
.product_remove_from_wishlist_dialog_box {
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
  z-index:10000;
  visibility: hidden;
  opacity: 0;
  transition: 300ms;
}
.added-to-wishlist-dialog-box .helper,
.added-to-cart-dialog-box .helper,
.all_product_added-to-cart-dialog-box .helper,
.product_remove_from_wishlist_dialog_box .helper {
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.added-to-wishlist-dialog-box > div,
.added-to-cart-dialog-box > div,
.all_product_added-to-cart-dialog-box > div,
.product_remove_from_wishlist_dialog_box >div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}
.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 35px;
  height: 35px;
  text-align: center;
}
.popupCloseButton:hover {
  background-color: #ccc;
}
.added-to-wishlist-dialog-box,
.added-to-cart-dialog-box,
.all_product_added-to-cart-dialog-box,
.product_remove_from_wishlist_dialog_box {
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  font-weight: bold;
}

.added-to-wishlist-dialog-box p,
.added-to-cart-dialog-box p,
.all_product_added-to-cart-dialog-box p,
.product_remove_from_wishlist_dialog_box p {
   margin: 15px;
}

/* Popup box End */
