#wpcontent {
	padding-left: 0;
}

// header
.bw-settings-header {
	height: 60px;
	background-color: #fff;
	box-shadow: 0 1px 0 rgba(213, 213, 213, 0.5), 0 1px 2px #eee;
}
.bw-settings-header-title {
	font-size: 14px;
	font-weight: 600;
	line-height: 60px;
	text-transform: capitalize;
	margin: 0;
	padding-left: 25px;
}

// content
.bw-settings-content {
	margin: 25px;

	// tabs panel
	.components-tab-panel__tabs-item {
		color: #516378;
		font-size: 14px;
		font-weight: 600;
		background-color: #f8fafb;
		box-shadow: none;

		&.is-active {
			background-color: #fff;
			border: none;
			border-top: 2px solid #17c9a2;
		}

		&:focus {
			box-shadow: none;
		}
	}

	.components-tab-panel__tab-content {
		background-color: #ffffff;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
		padding: 30px 20px 20px;

		> .components-base-control {
			margin-bottom: 20px;
		}
	}

	// base control
	.components-base-control {
		.components-base-control__field {
			display: flex;
		}

		.components-base-control__label {
			min-width: 240px;
			font-size: 14px;
			font-weight: 600;
			margin-bottom: 0;
		}

		.components-base-control__help {
			margin-left: 240px;
		}
	}

	// text control
	.components-text-control__input {
		background-color: #f2f2f2;
		box-shadow: none;
		border: 1px solid rgba(0, 0, 0, 0.05);
		transition: border linear 0.2s, box-shadow linear 0.2s;
	}

	// range control
	.components-range-control {
		width: 100%;
		max-width: 200px;
	}

	// color control
	.components-color-picker-wrap {
		position: relative;

		.components-color-picker-swatch {
			background: #ffffff;
			border: 1px solid #eee;
			border-radius: 3px;
			padding: 1px;
			cursor: pointer;
		}

		.components-color-picker-preview {
			width: 18px;
			height: 18px;
			border-radius: 2px;
		}

		.components-color-picker {
			position: absolute;
			width: 280px;
			height: auto;
			background-color: #fff;
			box-shadow: 0px 0px 5px #ccc;
			z-index: 99;

			.components-base-control .components-base-control__label {
				display: none;
			}
		}
	}
}
