#wpcontent {
	padding-left: 0;
}

// header
.bw-settings-header {
	height: 70px;
	background-color: #fff;
	margin: 20px;
	border-radius: 10px;
	border: 1px solid rgb(235, 235, 235);

	.bw-settings-header-title {
		font-size: 23px;
		font-weight: 500;
		line-height: 70px;
		text-transform: capitalize;
		color: #3f3f3f;
		margin: 0;
		padding-left: 25px;
	}
}

// content
.bw-settings-content {
	margin: 25px;

	// tabs panel
	.components-tab-panel__tabs {
		margin-bottom: 25px;
	}

	.components-tab-panel__tabs-item {
		color: rgb(37, 37, 37);
		font-size: 15px;
		font-weight: 600;
		background-color: rgb(250, 250, 250);
		box-shadow: none;
		border: 1px solid rgb(225, 225, 225);
		height: 53px;
		width: 130px;
		margin-right: 10px;
		border-radius: 10px;
		text-align: center;
		display: inline-block;
		position: relative;
		padding-left: 30px;
		&:before {
			position: absolute;
			content: "";
			height: 16px;
			width: 16px;
			background-repeat: no-repeat;
			left: 18px;
			top: 18px;
		}
		&.tab-general:before {
			background-image: url("./icons/general.svg");
		}
		&.tab-button:before {
			background-image: url("./icons/button.svg");
		}
		&.tab-custom-text {
			width: 160px;

			&:before {
				background-image: url("./icons/custom-text.svg");
			}
		}
		&.tab-style {
			padding-left: 10px;
			&:before {
				background-image: url("./icons/style.svg");
			}
		}

		&.is-active {
			//background-color: #fff;
			//border: none;
			//border-top: 2px solid #17c9a2;
			&:before {
				right: auto;
				bottom: auto;
				left: 18px;
				top: 18px;
			}
		}

		&:focus {
			box-shadow: none;
		}
	}

	.components-tab-panel__tab-content {
		background-color: #ffffff;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
		padding: 30px 20px 20px;

		> .components-base-control {
			margin-bottom: 20px;
		}
	}

	// base control
	.components-base-control {
		.components-base-control__field {
			display: flex;
		}

		.components-base-control__label {
			min-width: 240px;
			font-size: 14px;
			font-weight: 600;
			margin-bottom: 0;
		}

		.components-base-control__help {
			margin-left: 240px;
		}
	}

	// text control
	.components-text-control__input {
		background-color: #f2f2f2;
		box-shadow: none;
		border: 1px solid rgba(0, 0, 0, 0.05);
		transition: border linear 0.2s, box-shadow linear 0.2s;
	}

	// range control
	.components-range-control {
		width: 100%;
		max-width: 200px;
	}

	// color control
	.components-color-picker-wrap {
		position: relative;

		.components-color-picker-swatch {
			background: #ffffff;
			border: 1px solid #eee;
			border-radius: 3px;
			padding: 1px;
			cursor: pointer;
		}

		.components-color-picker-preview {
			width: 18px;
			height: 18px;
			border-radius: 2px;
		}

		.components-color-picker {
			position: absolute;
			width: 280px;
			height: auto;
			background-color: #fff;
			box-shadow: 0px 0px 5px #ccc;
			z-index: 99;

			.components-base-control .components-base-control__label {
				display: none;
			}
		}
	}
}

// footer
.bw-settings-footer {
	background-color: #ffffff;
	padding: 10px 20px 20px;

	button {
		color: #ffffff;
		background-color: #17c9a2;

		&:hover {
			color: #ffffff;
		}
	}
}
